<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
        {{#each posts}}
            <li class="list-group-item">
                <div class="lead"><a href="/profile/{{this.author._id}}" class="lead">{{this.author.name}}</a>
                <p>{{this.status}}</p>
                
                <form class="vote-up" data-id="{{this._id}}">
                  <button class="btn btn-primary navbar-btn" type="submit">Like</button>
                </form>

                <a href="/posts/{{this._id}}" class="btn btn-primary navbar-btn">Comments</a>
            </li>
        {{/each}}
    </ul>
  </div>
</div>