<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="/profile/{{post.author._id}}" class="lead">{{post.author.name}}</a>
    <li class="list-group-item"><p>{{post.status}}</p></li>
    
  </div>
</div>  
{{#if currentUser}}
  <div class="col-sm-6 col-sm-offset-3">
    <form action="/posts/{{post._id}}/comments" method="post">
      <textarea class='form-control' name="content" placeholder="Comment"></textarea>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
{{/if}}

  <h4>Comments</h4>
  {{#each post.comments}}
      <li class="list-group-item">
        <p class="text-right">{{this.author.username}}</p>
        <p>{{this.content}}</p>
      </li>
  {{/each}}
</div>