<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    this is the profile page
    <li class="list-group-item">
      <h2>{{ profileUser.name }}</h2>
      <h5>{{ profileUser.email }}</h5>
      <h5>Birthday: {{ profileUser.bday }}</h5>
      <h5>Friends: {{ profileUser.friends.length }}</h5>
      
      {{#if currentUser}}
        <form action="/profile/{{profileUser._id}}/add"  method="post">
          <button class="btn btn-primary navbar-btn" type="submit">Add Friend</button>
        </form>
      {{/if}}

      {{#each profileUser.friends}}
        {{!-- <li class="list-group-item">{{this.name}}</li> --}}
        <a href="/profile/{{this._id}}" >{{this.name}}</a>
      {{/each}}
    </li>

    {{#each posts}}
      <li class="list-group-item">
          <div class="lead"><a href="/profile/{{this.author._id}}" class="lead">{{this.author.name}}</a>
          <p>{{this.status}}</p>
          {{#if this.url}}
            <img src="{{this.url}} width="200" height="300">
          {{/if}}
          <form class="like" data-id="{{this._id}}">
            <button class="btn btn-primary navbar-btn" type="submit">Like</button>
          </form>

          <a href="/posts/{{this._id}}" class="btn btn-primary navbar-btn">Comments</a>
      </li>
    {{/each}}
    
  </div>
</div>

